$height: 70;
@for $i from 1 through 18 {
	#clients {
		ul li{
			&:nth-child(#{$i}) {
				background-position: center (-1*$i*$height)+$height+px;
			}
		}
	}
}
#clients {
	ul {
		padding: 2em 0;
		background: $color-bg;
		text-align: center;
		li {
			height: 70px;
			width: 140px;
			margin: 1rem .25rem;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			&.svg {
				background-image: url("../images/logos/logos.svg");
				background-repeat: no-repeat;
			}
			img {
				max-width: 100px;
				width: 94%;
				vertical-align: middle;
			}
			div {
				@include opacity(0);
			}
		}
	}
}
