#hero {
  margin: 5em 8em 2em 8em;
	.logo {
		width: 30%;
    min-width: 300px;
		max-width: 400px;
	}
  .contact {
    position: absolute;
    right: 12em;
    top: 8em;
    * {
      margin: .25em;
      display: inline-block;
    }
  }
}