.Home {
	margin: 0;
	.projects {
		@include flexbox();
		flex-wrap: wrap;
		position: relative;
		li.quote{
			.inner {
				border: 1px solid $color-font;
				padding: 5%;
				margin: 5%;
				font-size: 20px;
				font-style: italic;
				line-height: 35px;
				text-align: justify;
			}
		}
		li {
			@include flexbox();
			width: 50%;
			max-height: 530px;
			overflow: hidden;
			color: $color-font;
			position: relative;
			a {
				display: block;
				color: $white;
				background: $white;
				width: 100%;
				margin: auto;
				picture{
					display: block;
					img {
						@include transition(all .35s cubic-bezier(0.3, 1, 0.21, 0.99) );
						@include transform( scale(1.15) );
						width: 100%;
						display: block;
					}
				}
				.content {
					display: block;
					position: absolute;
					overflow: hidden;
					pointer-events: none;
					top: 20%;
					left: 10%;
					z-index: 1;
					zoom: 1;
					.copy {
						padding: 0 .5em .2em .5em;
					}
					.bg {
						width: 100%;
						background: $white;
						height: 100%;
						position: absolute;
						top:91px;
						z-index: -1;
						@include transition(all .25s cubic-bezier(0.3, 1, 0.21, 0.99) );
					}
				}
				&:hover {
					.content {
						.bg {
							top: 0;
						}
						color: $color-font;
					}
					picture {
						img {
							@include transform( scale(1.13) );
						}
					}
				}
			}
		}
	}
}

// TABLET = 768px
@media (min-width: 1025px){
	.Home {
		.projects {
			li {
				width: 33.3333%;
			}
		}
	}
}
